<?xml version="1.0"?>
<configuration>
  <!-- Temporarily required to enable v2 ANCM -->
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" forwardWindowsAuthToken="false" stdoutLogEnabled="true" stdoutLogFile="C:\logs\stdout">
      <handlerSettings>
        <handlerSetting name="debugLevel" value="4" />
        <handlerSetting name="debugFile" value="C:\logs\debug.txt" />
      </handlerSettings>
    </aspNetCore>
  </system.webServer>
</configuration>
