<?xml version="1.0"?>
<configuration>
  <!-- Temporarily required to enable v2 ANCM -->
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" forwardWindowsAuthToken="false" stdoutLogEnabled="true">
      <handlerSettings>
        <handlerSetting name="debugLevel" value="file" />
        <!-- Uncomment to change debug file name -->
        <handlerSetting name="debugFile" value=".\logs\debug.txt" />
      </handlerSettings>
      <environmentVariables>
        <!-- Uncomment to run on fixed port instead of random port -->
        <!-- <environmentVariable name="ASPNETCORE_PORT" value="10000" /> -->
      </environmentVariables>
    </aspNetCore>
  </system.webServer>
</configuration>
